# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=url_shortener
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# App Settings
PROJECT_NAME="URL Shortener API"
API_V1_STR="/api/v1"
DOMAIN="http://localhost:8000"
